<app-nav-bar></app-nav-bar>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">


  <title>Graphic Design</title>

</head>
<body>

<div class="container pt-5">
  <div class="container">
    <nav>
      <ul>
        <li><a routerLink="/all">Back</a></li>
      </ul>
    </nav>
  </div>
  <div class="subcategory" >
    <div class="container-fluid" style="margin-top:80px" id="topthings">
      <div
        class="jumbotron-fluid subcategoryHead" style="text-align: center;"><h2><b>Graphic Design</b></h2>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-8" id="introductiontext">

          <div class="row">
            <div class="col-sm-6">
              <h2><b>What do we do?</b></h2>
              <p class="subcategoryText">Graphic designers create artistic/visual concepts using either software or by hand. Everything we do
                is to inform, inspire, and wow all consumers. We typically develop layouts and produce designs for applications such as magazines, advertisements, logos, etc.
                Most of our work is done through creating images and websites.
              </p>
            </div>
            <div class="col-sm-6">
              <h2><b>Coursework/Skills</b></h2>
              <ul>
                <li>Introduction to Graphic Arts</li>
                <li>Computers in Design</li>
                <li>Graphic Design</li>
                <li>Graphic Design File Preparation</li>
                <li>Advanced Web Design</li>
                <li>Art Portfolio Design</li>
                <li>Advanced Color Correction</li>
                <li>Graphic Design Internship</li>
                <li>Branding Communication</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-sm-4">
          <a>
            <img class="img-fluid" style="width:100%" src="../assets/img/verticalgraphic.jpg">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>




</body>
