<app-nav-bar></app-nav-bar>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">


  <title>Architectural Design</title>

</head>
<body>

<div class="container pt-5">
  <div class="container">
    <nav>
      <ul>
        <!-- Link back button back to all design page -->
        <li><a routerLink="/all">Back</a></li>
      </ul>
    </nav>
  </div>
  <div class="subcategory" >
    <div class="container-fluid" style="margin-top:80px" id="topthings">
      <div
        class="jumbotron-fluid subcategoryHead" style="text-align: center;"><h2><b>Architectural Design</b></h2>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-8" id="introductiontext">

          <div class="row">
            <div class="col-sm-6">
              <h2><b>What do we do?</b></h2>
              <p class="subcategoryText">Architect designers are responsible for designing structures such as buildings, rooms, business, schools, etc. It maybe outdoors, indoors, private or public.
                are licensed professionals that are trained in the arts and sciences of designing buildings in which we develop concepts for different types of structures.
                Besides making buildings/structures aesthetically pleasing, we must make sure structures are safe, economical, and functional.
              </p>
            </div>
            <div class="col-sm-6">
              <h2><b>Coursework/Skills</b></h2>
              <!-- Displaying coursework/skills in list -->
              <ul>
                <li>Architectural theory</li>
                <li>Constructional technology</li>
                <li>Computer-aided design (CAD)</li>
                <li>Hand drawing</li>
                <li>Building structures</li>
                <li>Design studio</li>
                <li>Construction law</li>
                <li>Research project</li>
                <li>Architectural design</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-sm-4">
          <a>
            <!-- Displaying picture on right -->
            <img class="img-fluid" style="width:100%" src="../assets/img/verticalarchitecture.jpg">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>





</body>
