body{
  font-family: 'Orbitron', sans-serif;
}

hr {
  border: none;
  height: 2px;
  margin-top: 0px;
  color: lightgray;
  background-color: #333;
}

.img-responsive{
  width: 100%;
}

.container{
  width: 100%;
  margin: 0 auto;
}

nav{
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 0px;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.logo {
  height: 250px;
  width: auto;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

