<app-nav-bar></app-nav-bar>

<head>
  <!-- Making web page reactive -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">


  <title>Interior Design</title>

</head>
<body>

<div class="container pt-5">
  <div class="container">
    <nav>
      <ul>
        <!-- Link back button back to all design page -->
        <li><a routerLink="/all">Back</a></li>
      </ul>
    </nav>
  </div>
  <div class="subcategory" >
    <div class="container-fluid" style="margin-top:80px" id="topthings">
      <div
        class="jumbotron-fluid subcategoryHead" style="text-align: center;"><h2><b>Interior Design</b></h2>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-8" id="introductiontext">

          <div class="row">
            <div class="col-sm-6">
              <h2><b>What do we do?</b></h2>
              <p class="subcategoryText">Interior designers make the interior spaces aesthetically pleasing. safe, and functional. We do this by reading blueprints and determining the space for a selection of items such as furniture, lighting, and other materials.
                We also have to be aware of regulations for buildings, building codes, and accessibility standards. Engineers and architectures work closely with us as well.
              </p>
            </div>
            <div class="col-sm-6">
              <h2><b>Coursework/Skills</b></h2>
              <!-- Displaying coursework/skills in list -->
              <ul>
                <li>Color design/theory</li>
                <li>Materials and resources</li>
                <li>Drafting</li>
                <li>Visual design</li>
                <li>Client communication</li>
                <li>Kitchen and bathroom design</li>
                <li>Commercial and residential design</li>
                <li>Planning space</li>
                <li>Contract Documents</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-sm-4">
          <a>
            <!-- Displaying picture on right -->
            <img class="img-fluid" style="width:100%" src="../assets/img/verticalinterior.jpg">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>





</body>
