
.profileImage {
  border: 1.5px solid #cccbc6;
  background-color: #f9fffb;
  padding: 3px;
  display: inline-block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 1.0px 1.0px 1.0px rgba(0, 0, 0, .16)
}
