<app-nav-bar></app-nav-bar>

<head>
  <!-- Making web page reactive -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">


  <title>Game Design</title>

</head>
<body>

<div class="container pt-5">
  <div class="container">
    <nav>
      <ul>
        <!-- Link back button back to all design page -->
        <li><a routerLink="/all">Back</a></li>
      </ul>
    </nav>
  </div>
  <div class="subcategory" >
    <div class="container-fluid" style="margin-top:80px" id="topthings">
      <div
        class="jumbotron-fluid subcategoryHead" style="text-align: center;"><h2><b>Game Design</b></h2>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-8" id="introductiontext">

          <div class="row">
            <div class="col-sm-6">
              <h2><b>What do we do?</b></h2>
              <p class="subcategoryText">Video game designers usually work as part of a team to make games. We come up characters, story, concepts, and gameplay.
                Most designers have to work with other programmers and artists to create scripting language and the artistic vision for a video game.
              </p>
            </div>
            <div class="col-sm-6">
              <h2><b>Coursework/Skills</b></h2>
              <!-- Displaying coursework/skills in list -->
              <ul>
                <li>Introduction to Game Design</li>
                <li>Game Design Theory</li>
                <li>Game Documentation</li>
                <li>Introduction to Scripting with C#</li>
                <li>Scripting Control Flow</li>
                <li>Different performance tasks</li>
                <li>Game scripting with C#</li>
                <li>Physics in Game Development</li>
                <li>Graphical User Interface</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-sm-4">
          <a>
            <!-- Displaying picture on right -->
            <img class="img-fluid" style="width:100%" src="../assets/img/gamevertical.png">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>





</body>
