a.nav-link-text {
  color: #ffffff;
  font-weight: bold;
  //padding: 8px 1px 8px 0px;
  border-bottom: 1px solid transparent;}
a.nav-link-text:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;}
